<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/MyProjects/Capgemini_Sprint/FreeCRMQualityAssurance/Automation_Testing/restassured-api-testing/src/test/java/com/freecrm/automation/apiTests/PetApiTests.java"><classes><class name="com.freecrm.automation.apiTests.PetApiTests"><methods><include name="testCreatePet"/><include name="testGetPetById"/><include name="testFindPetByStatus"/><include name="testUpdatePet"/><include name="deletePet"/></methods></class></classes></test></suite>