<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/MyProjects/Capgemini_Sprint/FreeCRMQualityAssurance/Automation_Testing/selenium-ui-automation/src/test/java/com/freecrm/automation/runners/TestRunnerDeals.java"><classes/></test></suite>
